# erlang files
*.beam
*.app
_build/

# ct files
ct_run.*
all_runs.html
index.html
ct_default.css
ct_log_cache
jquery-latest.js
jquery.tablesorter.min.js
variables-ct*

# mnesia files
Mnesia*

# log files
*-log.txt
