{erl_opts, [debug_info]}.

{deps, []}.

{relx, [{release, {my_release, "0.0.1"},
         [ts_app]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.

{escript_main_app, experiments}.
{escript_emu_args, "%%! -pa _build/default/lib/experiments/ebin -pa _build/default/lib/ts_app/ebin -sname sup@localhost -secret cookie\n"}.